body {
  background-color: #D9AFD9;
  height: 100%;
  font-family: 'Poiret One', 'Avenir','Helvetica Neue','Helvetica', cursive;
}
#container {
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  width: 94%;
  height: 94%;
  padding: 3%;
}
#header {
  max-height: 480px;
  overflow: hidden;
}
h1 {
  -mox-box-sizing: border-box;
  box-sizing:border-box;
  width: 100%;
  max-width: 850px;
  max-height: 480px;
  padding: 0;
  padding-top: 56.5%;
  margin: 0;
  background: url(../images/main.jpg) 0 0 no-repeat;
  background-size: contain;
  position: relative;
}
h1 a {
  display: block;
  position: absolute;
  top: 3%;
  left: 3%;
  font-size: 3rem;
  color: rgba(255,255,255,0.8);
  text-align: right;
  text-decoration: none;
}

#items ul, #items li {
  list-style: none;
  padding: 0;
}
#items li {
  display: inline-block;
}
#items a {
  display: inline-block;
  padding-top: 1rem;
  width: 7rem;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  opacity: 0.8;
  border-radius: 5%;
}
#items a:hover {
  background: rgba(255,255,255,0.1)
}

#latest {

}
#latest h2 {
  margin: 2rem 0 0.5rem 0;
  color: #ffffff;
}
